<div class="blog-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="title-text text-center">
                <h2>Our Blogs</h2>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        Blogs
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Blog Title Section End -->
<!-- Blog Section Start -->
<section class="blog-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="assets/img/blog/1.jpg" alt="blog image"></a>
                        <div class="blog-date">
                            <span>21 Feb</span>
                        </div>
                    </div>
                    <div class="blog-text">
                        <a href="blog-details.html">
                            <h3>The next genaration IT will change the world</h3>
                        </a>

                        <div class="post-info">
                            <img src="assets/img/blog/author-1.png" alt="blog author">
                            <a href="#"><p>Aikin Ward</p></a>
                            <a href="blog-details.html" class="blog-btn">
                                Read More
                                <i class="flaticon-right-chevron"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Blog Section End -->
<!-- Newsletter Section Start -->
<div class="newsletter-section">
    <div class="container">
        <div class="newsletter-area">
            <h2>Subscribe Our Newsletter</h2>
            <div class="col-lg-6 offset-lg-3 p-0">
                <form class="newsletter-form" data-bs-toggle="validator">
                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

                    <button class="default-btn electronics-btn" type="submit">
                        Subscribe
                    </button>

                    <div id="validator-newsletter" class="form-result"></div>
                </form>
            </div>
            <img src="assets/img/shapes/2.png" class="subscribe-shape" alt="shape">
        </div>
    </div>
</div>