@model Project_sem_3.Models.Answer
@{
    Layout = "_Admin";
}

<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Answer Details</h6>
    <a asp-action="Index" class="btn btn-secondary">← Back to List</a>
</div>

<div class="card p-24 radius-12 mb-4">
    <h5 class="mb-3">General Information</h5>
    <table class="table table-bordered">
       
        <tr>
            <th>Correctly</th>
            <td>
                @if (Model.Correctly == true)
                {
                    <span class="badge bg-success">True</span>
                }
                else
                {
                    <span class="badge bg-danger">False</span>
                }
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                @if (Model.Status == 1)
                {
                    <span class="badge bg-success">Active</span>
                }
                else
                {
                    <span class="badge bg-secondary">Inactive</span>
                }
            </td>
        </tr>
        <tr>
            <th>Question</th>
            <td>@Model.Question?.QuestionTitle</td>
        </tr>

       
        
  
    </table>
    <h5>Answer Content</h5>
    <p>@Html.Raw(Model.AnswerContent)</p>
</div>

<div class="mt-3">

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
